body {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 87%;
	padding: 0px;
	margin: 0px;
	background-image: url('../WebImages/pozadi-celek.png');
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #333333;
}
#obal
{
    background-color: transparent;
    background-image: url('../WebImages/pozadi-bila.png');
    background-position: center top;
    background-repeat: repeat-y;
}

#hlavicka {
	color: #FFFFFF;
	font-size: 80%;
	height: 75px;
	
}

#hlavicka .napln {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	height: 75px;
	background-color: #FFFFFF;
}

#hlavicka .napln img {
	}
#hlavicka .napln a {
	color: #CEE1F6;
	text-decoration: none;
	
}
#hlavicka .napln a:hover {
	color: #FFFF00;
	
}

#hlavicka .napln .vlevo .logo {
	padding-top: 16px;
	width: 230px;
	padding-left: 40px;
	position: absolute;
}
#hlavicka .napln .vlevo .oznaceni {
	width: 300px;
	padding-left: 38px;
}
#hlavicka .napln .vlevo .oznaceni .texta {
	padding-bottom: 3px;
	font-size: 105%;
	color: #FFFFFF;
	padding-top: 24px;
}
#hlavicka .napln .vlevo .oznaceni .textb {
	font-size: 85%;
	color: #FFFFFF;
}




#hlavicka .napln .vlevo {
	width: 300px;
	float: left;
}
#hlavicka .napln .stred {
	text-align: right;
	padding: 0px;
	width: 400px;
	float: left;
	position: relative;
	margin-left: 320px;
}
#hlavicka .napln .stred .textf {
	padding-bottom: 8px;
	font-size: 120%;
	padding-top: 25px;
	color: #FF3300;
}
#hlavicka .napln .stred .textg {
	font-size: 150%;
	color: #525252;
}
#hlavicka .napln .vpravo {
	text-align: right;
	padding: 0px;
	float: right;
}
#hlavicka .napln .vpravo .odkazy {
	text-align: right;
	padding-top: 12px;
	padding-right: 10px;
}
#hlavicka .napln .vpravo .odkazy .language {
	padding-bottom: 5px;
}

#hlavicka .napln .vpravo .textg {
	font-size: 130%;
	color: #FF3300;
	padding-top: 15px;
}
#podhlavicku {
	height: 10px;
	font-size: 90%;
	clear: both;
	
}

#podhlavicku .napln {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	/*background-image: url(../WebImages/pozadi-podhlavicku.png);*/
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	padding-top: 20px;
	height: 10px;
	
}





#menuhorizontal {
	color: #FFFFFF;
	
}
#menuhorizontal .napln {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../WebImages/pozadi-menu.png);
	height: 32px;
	background-repeat: no-repeat;
	background-position: right;
	font-size: 80%;
}
#menuhorizontal .napln strong {
}

#menuhorizontal .napln a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 100%;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 7px;
	padding-bottom: 9px;
	display: block;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	
}
#menuhorizontal .napln a:hover {
	color: #FFFF99;
	background-color: #FF0000;
	background-image: url(../WebImages/activ-horizontal.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	
}
#menuhorizontal .napln .activ {
	color: #FFFFFF;
	background-color: #FF0000;
	background-image: url(../WebImages/activ-horizontal.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	
}
#menuhorizontal .napln .vlevo {
	float: left;
	width: 690px;
	padding-top: 3px;
	margin-left: 282px;
}


#obsah {
	clear: both;
	
}
#obsah .obalobsahu {
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#obsah .napln {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	clear: both;
	position: relative;
	background-image: url(../WebImages/pozadi-obsah.png);
	background-repeat: repeat-y;
	background-position: center top;
	float: left;
}
#obsah .napln .vlevo {
	float: left;
	width: 175px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	font-family: Arial, Helvetica, sans-serif;
}
#obsah .napln .vlevo .hledani {
	color: #999999;
	height: 40px;
	padding-top: 10px;
	margin-left: 5px;
	padding-left: 2px;
	margin-right: 5px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
#obsah .napln .vlevo .hledani .button {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 80%;
	border: 1px solid #333333;
	background-color: #525957;
	cursor: pointer;
	padding-right: 3px;
	padding-left: 3px;
	height: 22px;
	background-image: url(../WebImages/pozadi-button.png);
	background-repeat: repeat-x;
}
#obsah .napln .vlevo .hledani input {
	vertical-align: top;
	margin-left: 2px;


}
#obsah .napln .vlevo .hledani .inputhledani {
	border: 1px solid #333333;
	height: 18px;
	width: 90px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
}
#obsah .napln .vlevo .hledani .popisek {
	line-height: 20px;
	font-weight: bold;
	float: left;
}
#obsah .napln .vlevo .hledani .ikonkahledat {
}
#obsah .napln .vlevo .oddelovac {
	padding-top: 5px;
	padding-bottom: 7px;
	padding-left: 10px;
	color: #333333;
	font-style: normal;
	font-weight: bold;
}

#obsah .napln .vlevo .specifikace {
	font-size: 85%;
	color: #CCCCCC;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 5px;
	padding-left: 15px;
	width: 150px;
	
}
#obsah .napln .vlevo .tlacitko {
	font-size: 90%;
	color: #333333;
	margin-bottom: 1px;
	position: relative;
}
#obsah .napln .vlevo .tlacitko a {
	color: #333333;
	text-decoration: none;
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	width: 150px;
	background-image: url(../WebImages/tlacitko_a.png);
}
#obsah .napln .vlevo .tlacitko a:hover {
	color: #FFFFFF;
	background-image: url(../WebImages/tlacitko_ahover.png);
	background-repeat: no-repeat;
	background-color: #6F6456;
	background-position: left center;
		
}
#obsah .napln .vlevo .tlacitko .activ {
	color: #FFFFFF;
	background-image: url(../WebImages/tlacitko_ahover-activ.png);
	background-repeat: no-repeat;
	background-color: #6F6456;
	background-position: left center;
		
}


#obsah .napln .vlevo .podtlacitko {
	font-size: 90%;
	color: #FFFFFF;
	margin-bottom: 1px;
	position: relative;
}
#obsah .napln .vlevo .podtlacitko a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 30px;
	width: 145px;
	background-color: #877D6E;
}
#obsah .napln .vlevo .podtlacitko a:hover {
	color: #FFCC00;
	background-image: url(../WebImages/podtlacitko_ahover.png);
	background-repeat: no-repeat;
	background-color: #877D6E;
	background-position: left center;
		
}
#obsah .napln .vlevo .podtlacitko .activ {
	color: #FFCC00;
	background-repeat: no-repeat;
	background-color: #877D6E;
	background-position: left center;
	background-image: url(../WebImages/podtlacitko_ahover_c.png);
		
}

#obsah .napln .vlevo .leveinfo {
	font-size: 80%;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	padding-top: 15px;
	color: #333333;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	margin-right: 5px;
	margin-left: 5px;
}
#obsah .napln .vlevo .banner {
	padding-top: 10px;
}

#obsah .napln .centr {
	padding-bottom: 15px;
	font-size: 90%;
	width: 600px;
	float: left;
	padding-top: 0px;
	display: block;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	color: #333333;
}

#obsah .napln .centr .zpravodaj .watertext {
    color: #808080;
    border: 1px solid #000000;
    width: 150px;
    height: 18px;
    vertical-align: top;
    font-size: 100%;
}

#obsah .napln .centr .zpravodaj .pocetodberatelu
{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size:75%
}

#obsah .napln .centr a {
	color: #FF3300;
	text-decoration: underline;
	
}
#obsah .napln .centr a:hover {
	color: #333333;
	text-decoration: underline;
}
#obsah .napln .centr td {
	/*padding: 5px;*/
}
#obsah .napln .centr p {
	margin-top: 15px;
	margin-bottom: 7px;
	text-align: justify;
	line-height: 18px;
}
#obsah .napln .centr ul {
	list-style-type: square;
}
#obsah .napln .centr li {
	padding: 2px;
	line-height: 18px;
}
#obsah .napln .centr h1 {
	font-size: 200%;
	color: #FA4305;
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}


#obsah .napln .centr h2 {
	font-size: 180%;
	color: #333333;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: normal;
}
#obsah .napln .centr h3 {
	font-size: 130%;
	color: #CC0000;
	margin-top: 20px;
	margin-bottom: 5px;
}
#obsah .napln .centr h4 {
	font-size: 115%;
	color: #666666;
	margin-top: 15px;
	margin-bottom: 10px;
}
#obsah .napln .centr .nadpisy {
	background-image: url(../WebImages/nadpisy-pozadi.png);
	background-repeat: no-repeat;
	height: 33px;
	clear: both;
	margin-bottom: 10px;
	padding-top: 5px;
	margin-top: 20px;
}
#obsah .napln .centr .nadpisy h2 {
	margin-top: 0px;
}
#obsah .napln .centr .pravedoslo {
	padding-top: 5px;
	padding-bottom: 5px;
}
#obsah .napln .centr .pravedoslo .datumdoslo {
	background-color: #FA4305;
	padding-top: 1px;
	padding-right: 7px;
	padding-bottom: 1px;
	padding-left: 7px;
	color: #FFFFFF;
	margin-right: 10px;
	font-size: 80%;
}
#obsah .napln .centr .doslo {
	padding-bottom: 7px;
	line-height: 12px;
}


#obsah .napln .centr .uvod {
	margin-bottom: 10px;
}

#obsah .napln .centr .aktuality {
clear:both;
}
#obsah .napln .centr .aktualita {
border-bottom:1px solid #CCCCCC;
clear:both;
line-height:17px;
margin-bottom:10px;
margin-left:0px;
overflow:hidden;
padding:5px;
position:relative;
}
#obsah .napln .centr .aktualita .datum {
	color:#FFFFFF;
	font-size:80%;
	font-weight:normal;
	background-color: #FA4305;
	width: 102px;
	margin-bottom: 2px;
	text-align: center;
	position: absolute;
}
#obsah .napln .centr .aktualita .nazev {
	color:#FA4305;
	font-size:130%;
	font-weight:bold;
	padding-bottom:5px;
	padding-top: 5px;
	margin-left: 120px;
}
#obsah .napln .centr .aktualita .imgBlok {
	float:left;
	width: 100px;
	border: 1px solid #666666;
	margin-top: 19px;
}
#obsah .napln .centr .aktuality .aktualita .imgBlok .thickbox .nahledyimg {
border:0px none #FFFFFF;
}
#obsah .napln .centr .aktualita .text {
	padding-bottom:5px;
	margin-left: 120px;
}
#obsah .napln .centr .benner {
	text-align: center;
	clear: both;
	margin-bottom: 10px;
}

#obsah .napln .centr .strankovani {
background-color: #F3F3F3;
padding-right: 6px;
padding-left: 6px;
color: #333;
height: 36px;
clear: both;
text-align: right;
margin-right: 25px;
}

#obsah .napln .centr .strankovani .strankovaninapln {
padding-bottom: 1px;
padding-left: 13px;
padding-top: 6px;
position: relative;
}

#obsah .napln .centr .strankovani .strankovaninapln .activ {
background-color: #FA4305;
padding-top: 2px;
padding-right: 3px;
padding-bottom: 3px;
padding-left: 3px;
border: 1px solid white;
color: white;
font-weight: bold;
}

#obsah .napln .centr .strankovani .strankovaninapln a {
padding-top: 1px;
padding-right: 3px;
padding-bottom: 1px;
padding-left: 3px;
border: 1px solid #999;
font-weight: bold;
color: #333;
}

#obsah .napln .centr .nazev
{
    color: #FA4305;
    font-size: 130%;
    font-weight: bold;

}


#obsah .napln .centr .registrace
{
    margin:0px;
    padding:0px;
}

#obsah .napln .centr .registrace .zeme
{
    width:155px;
    margin-left: 2px;
}

#obsah .napln .centr .registrace .nazev
{
    color: #FA4305;
    font-size: 130%;
    font-weight: bold;

}


#obsah .napln .centr .obchpodm .nazev
{
    color: #FA4305;
    font-size: 130%;
    font-weight: bold;

}

#obsah .napln .vpravo {
	font-size: 90%;
	line-height: 18px;
	width: 165px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	color: #333333;
}
#obsah .napln .vpravo h3 {
	font-size: 120%;
	font-weight: bold;
}

#obsah .napln .vlevo .oddelovac {
	height: 20px;
	width: 30px;
}



#obsah .napln .vpravo .oddelovac {
	height: 20px;
	width: 150px;
}


#obsah .napln .vpravo .banner {
	text-align: center;
}

#obsah .napln .vpravo a {
	color: #FFFFFF;
	text-decoration: underline;
	
}
#obsah .napln .vpravo a:hover {
	color: #FFCC00;
	text-decoration: underline;
}
#obsah .napln .vpravo .specifikace {
	padding-bottom: 1px;
	background-image: url(../WebImages/pozadi-popis.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 3px;
	padding-left: 5px;
	font-size: 90%;
	color: #FFFFFF;
	margin-bottom: 5px;
	
}
#obsah .napln .vpravo .prihlaseni {
	text-align: left;
	color: #333333;
	margin-top: 10px;
	margin-bottom: 10px;
}

#obsah .napln .vpravo .prihlaseni a {
	color: #333333;
	text-decoration: none;
	font-size: 85%;
}
#obsah .napln .vpravo .prihlaseni a:hover {
	color: #FF0000;
}
#obsah .napln .vpravo .prihlaseni .jmeno {
	margin-bottom: 5px;
	text-align: left;
}
#obsah .napln .vpravo .prihlaseni .heslo {
	margin-bottom: 5px;
	text-align: left;
}
#obsah .napln .vpravo .prihlaseni input {
	font-size: 90%;
	border: 1px solid #000000;
	vertical-align: top;
}
#obsah .napln .vpravo .prihlaseni input.watertext
{
    color: #808080;
    border: 1px solid #000000;
    width: 150px;
    height: 18px;
    vertical-align: top;
    font-size: 110%;
}
#obsah .napln .vpravo .prihlaseni .button {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 90%;
	border: 1px solid #333333;
	background-color: #505756;
	cursor: pointer;
	padding-right: 3px;
	padding-left: 3px;
	height: 22px;
	background-image: url(../WebImages/pozadi-button.png);
	background-repeat: repeat-x;
}
#obsah .napln .vpravo .prihlaseni .odkazy {
	margin-top: 5px;
	text-align: left;
}
#obsah .napln .vpravo .prihlaseni .popis {
	padding-bottom: 8px;
	background-image: url(../WebImages/pozadi-popis.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 3px;
	padding-left: 5px;
	font-size: 90%;
	color: #FFFFFF;
	margin-bottom: 5px;
}
#obsah .napln .vpravo .prihlaseni .authInputjmeno {
	width: 150px;
	height: 18px;
	font-size: 110%;
}

#obsah .napln .vpravo .prihlaseni .authInputheslo {
	width: 65px;
	height: 18px;
	margin: 0px;
	font-size: 110%;
}
#obsah .napln .vpravo .kosik {
	font-size: 85%;
}
#obsah .napln .vpravo .kosik .ikonakosik {
	position: relative;
	float: left;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
}
#obsah .napln .vpravo .kosik .ikonakosik img {
	
}
#obsah .napln .vpravo .kosik .polozek {
	margin-left: 40px;
}
#obsah .napln .vpravo .kosik .cena {
	margin-left: 40px;
}

#obsah .napln .vpravo .kosik strong {
	color: #333333;
}
#obsah .napln .vpravo .boxpodpora {
	text-align: center;
	margin-bottom: 10px;
}


#paticka {
	clear: both;
	
}
#paticka .napln {
	width: 980px;
	font-size: 75%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	height: 50px;
	background-image: url(../WebImages/pozadi_paticka.png);
	background-position: left top;
	background-repeat: no-repeat;
	color: #999999;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}
#paticka .napln a {
	color: #333333;
	text-decoration: none;
	
}
#paticka .napln a:hover {
	color: #72B2F0;
	
}
#paticka .napln .vlevo {
	float: left;
	width: 400px;
	text-align: left;
	padding-left: 15px;
}
#paticka .napln .vlevo .tx1 {
	float: left;
	padding-top: 6px;

}
#paticka .napln .vlevo .tx2 {
	display: block;
	float: left;
	padding-top: 13px;
}


#paticka .napln .vpravo {
	text-align: right;
	margin-left: 570px;
}
#paticka .napln .vpravo .tx1 {
	float: left;
	padding-top: 13px;
	padding-right: 10px;

}
#paticka .napln .vpravo .tx2 {
	display: block;
	float: left;
	padding-top: 0px;
}
#paticka .napln .vpravo .tx3 {
	display: block;
	padding-top: 5px;
	padding-right: 15px;
}
#paticka .napln .vpravo img {
	margin-top: 5px;
	margin-right: 2px;
	margin-left: 2px;
}



/*ListProduktu 1 radkovy layout*/
#obsah .napln .centr .seznamproduktu1 {
	padding-bottom: 10px;
	margin-right: 25px;
	clear: both;
}
#obsah .napln .centr .seznamproduktu1 .produkt2 {
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 0px;
	padding-bottom: 10px;
	font-size: 95%;
	line-height: 20px;
	margin-top: 4px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #333333;
	height:105px;
}



#obsah .napln .centr .seznamproduktu1 .produkt2 .produktinfo {
	margin-left: 200px;
}


#obsah .napln .centr .seznamproduktu1 .produkt2 .cenaeuro {
	font-size: 100%;
}
#obsah .napln .centr .seznamproduktu1 .produkt2 .cenasdph strong {
	font-size: 160%;
	color: #FF6600;
	
}
#obsah .napln .centr .seznamproduktu1 .produkt2 .cenaeuro strong {
	
}
#obsah .napln .centr .seznamproduktu1 .produkt2 .cenasdph {
	font-weight: normal;
}
#obsah .napln .centr .seznamproduktu1 .produkt2 .nahled {
	
	position: relative;
	display:table;
	overflow:hidden;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	width: 200px;

}

#obsah .napln .centr .seznamproduktu1 .produkt2 .nahled img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: auto;
}

#obsah .napln .centr .seznamproduktu1 .produkt2 input 
{

}
#obsah .napln .centr .seznamproduktu1 .produkt2 .leva {
	float: left;
	
}
#obal .napln .centr .seznamproduktu1 .produkt2 .produktinfo .ceny .prava .kod {
}

#obal .napln .centr .seznamproduktu1 .produkt2 .produktinfo .nazev .poznamka {
    background-color: #FFcc99;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-left: 10px;
    font-weight: bold;
    font-style:italic;
}

#obsah .napln .centr .seznamproduktu1 .produkt2 .prava {
	float: right;
}

#obsah .napln .centr .seznamproduktu1 .produkt2 .kosik {
	vertical-align: text-bottom;
}


#obsah .napln .centr .seznamproduktu1 .produkt2 .ceny .prava .pocet {
	width: 20px;
    height: 12px;
    font-size: 100%
}

#obsah .napln .centr .seznamproduktu1 .produkt2 a {
	color: #333333;
	font-weight: bold;
	text-decoration: underline;
}
#obsah .napln .centr .seznamproduktu1 .produkt2 a:hover {
	color: #FF6600;
	text-decoration: underline;
}
#obsah .napln .centr .seznamproduktu1 .produkt2 .popis {
	line-height: 15px;
	padding-bottom: 5px;
}

#obsah .napln .centr .seznamproduktu1 .produkt2 .nazev {
	padding-bottom: 2px;
	padding-top: 1px;
}



/*ListProduktu 2 radkovy layout*/
#obsah .napln .centr .seznamproduktu2 {
	padding-bottom: 10px;
	margin-right: 25px;
	clear: both;
}
#obsah .napln .centr .seznamproduktu2 .produkt2 {
	/*position: relative;*/
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
    /*/border-right-width: 1px;
    border-right-style: solid;
	border-right-color: #CCCCCC;
    */
	/*padding-top: 0px;*/
	/*padding-bottom: 10px;*/
	font-size: 95%;
	line-height: 20px;
	/*margin-top: 4px;*/
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #333333;
	height:165px;
    width:290px;
}



#obsah .napln .centr .seznamproduktu2 .produkt2 .produktinfo {
	margin-left: 150px;
}


#obsah .napln .centr .seznamproduktu2 .produkt2 .cenaeuro {
	font-size: 100%;
}
#obsah .napln .centr .seznamproduktu2 .produkt2 .cenasdph strong {
	font-size: 160%;
	color: #FF6600;
	
}
#obsah .napln .centr .seznamproduktu2 .produkt2 .cenaeuro strong {
	
}
#obsah .napln .centr .seznamproduktu2 .produkt2 .cenasdph {
	font-weight: normal;
}
#obsah .napln .centr .seznamproduktu2 .produkt2 .nahled {
	position: relative;
	display:table;
	overflow:hidden;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
  padding-right: 5px;
	float: left;
}

#obsah .napln .centr .seznamproduktu2 .produkt2 .nahled img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: auto;
}


#obal .napln .centr .seznamproduktu2 .produkt2 .nazev .poznamka {
    background-color: #FFcc99;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-left: 10px;
    font-weight: bold;
    font-style:italic;
}


#obsah .napln .centr .seznamproduktu2 .produkt2 .kosik {
	vertical-align: text-bottom;
}


#obsah .napln .centr .seznamproduktu2 .produkt2 .pocet {
	width: 20px;
  height: 12px;
  font-size: 100%
}

#obsah .napln .centr .seznamproduktu2 .produkt2 a {
	color: #333333;
	font-weight: bold;
	text-decoration: underline;
}
#obsah .napln .centr .seznamproduktu2 .produkt2 a:hover {
	color: #FF6600;
	text-decoration: underline;
}
#obsah .napln .centr .seznamproduktu2 .produkt2 .popis {
	line-height: 15px;
	padding-bottom: 5px;
}

#obsah .napln .centr .seznamproduktu2 .produkt2 .nazev {
	padding-bottom: 2px;
	padding-top: 1px;
  float:left;
  width:100%;
}


/*DetailProduktu*/
#obsah .napln .centr .seznamproduktu2 .produktdet {
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 0px;
	padding-bottom: 10px;
	font-size: 95%;
	line-height: 20px;
	margin-top: 4px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #333333;
	height:145px;
}
#obsah .napln .centr .seznamproduktu2 .produktdet .produktinfo {
	margin-left: 200px;
}


#obsah .napln .centr .seznamproduktu2 .produktdet .cenaeuro {
	font-size: 100%;
}
#obsah .napln .centr .seznamproduktu2 .produktdet .cenasdph strong {
	font-size: 160%;
	color: #FF6600;
	
}
#obsah .napln .centr .seznamproduktu2 .produktdet .cenaeuro strong {
	
}
#obsah .napln .centr .seznamproduktu2 .produktdet .cenasdph {
	font-weight: normal;
}
#obsah .napln .centr .seznamproduktu2 .produktdet .nahled {
	
	position: relative;
	display:table;
	overflow:hidden;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	width: 200px;

}

#obsah .napln .centr .seznamproduktu2 .produktdet .nahled img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: auto;
}

#obsah .napln .centr .seznamproduktu2 .produktdet input 
{

}
#obsah .napln .centr .seznamproduktu2 .produktdet .leva {
	float: left;
	
}
#obal .napln .centr .seznamproduktu2 .produktdet .produktinfo .ceny .prava .kod {
}
#obal .napln .centr .seznamproduktu2 .produktdet .produktinfo .nazev .poznamka {
    background-color: #FFcc99;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-left: 10px;
    font-weight: bold;
    font-style:italic;
}

#obsah .napln .centr .seznamproduktu2 .produktdet .prava {
	float: right;
}

#obsah .napln .centr .seznamproduktu2 .produktdet .kosik {
	vertical-align: text-bottom;
}


#obsah .napln .centr .seznamproduktu2 .produktdet .ceny .prava .pocet {
	width: 20px;
    height: 12px;
    font-size: 100%
}

#obsah .napln .centr .seznamproduktu2 .produktdet a {
	color: #333333;
	font-weight: bold;
	text-decoration: underline;
}
#obsah .napln .centr .seznamproduktu2 .produktdet a:hover {
	color: #FF6600;
	text-decoration: underline;
}
#obsah .napln .centr .seznamproduktu2 .produktdet .popis {
	line-height: 15px;
	padding-bottom: 5px;
}

#obsah .napln .centr .seznamproduktu2 .produktdet .nazev {
	padding-bottom: 2px;
	padding-top: 1px;
}

#obsah .napln .centr .seznamproduktu2 .produktdet .modalBackground {
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
}

.popup_Container {
	background-color:#fffeb2;
	border:2px solid #000000;
	padding: 0px 0px 0px 0px;
	width: 350px;
	height: 155px;
	
}

.ModalPopupBG
{
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
}

.popup_Titlebar {
	background: url(../WebImages/titlebar_bg.jpg);
	height: 29px;
	width:500px;
	color:White;
	padding-left:10px;
	display: table-cell; 
	vertical-align: middle;
}

.popup_Body
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-align: center;
    clear: both;
    padding: 20px;
}

.popup_Buttons
{
    text-align:center;
    }
    
.prihlasen
{
    color:Green;
}

.zeme
{
    width:155px;
    margin-left: 2px;
}

.centrtable table
{
    margin: 0px auto;
    text-align:left;

    }

.button
{
    color: #FFFFFF;
	font-weight: bold;
	font-size: 90%;
	border: 1px solid #333333;
	background-color: #525957;
	cursor: pointer;
	padding-right: 3px;
	padding-left: 3px;
	height: 22px;
	background-image: url(/WebImages/pozadi-button.png);
	background-repeat: repeat-x;

}

.prodejci
{
   padding-bottom: 15px;
	font-size: 80%;
	width: 600px;
	float: left;
	padding-top: 0px;
	display: block;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333; 
}

.prodejci .hlavickaTabulky
{
    font-size: 110%;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #515151;
}

/*ListZpravodaj*/
#obsah .napln .centr .seznamzpravodaj {
	padding-bottom: 10px;
	margin-right: 25px;
	clear: both;
	height:10px;
	display:table;
	#position: relative; 
	overflow:hidden;
}

#obsah .napln .centr .seznamzpravodaj .zpravodaj {
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 100%;
	line-height: 20px;
	margin-top: 4px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #333333;
	width:600px;
	 #position: relative; #top: -50%
}

#obsah .napln .centr .seznamzpravodaj .zpravodaj .datum {
	background-color: #FA4305;
	padding-top: 1px;
	padding-right: 7px;
	padding-bottom: 1px;
	padding-left: 7px;
	color: #FFFFFF;
	margin-right: 10px;
	font-size: 95%;
	float: left;
}

#obsah .napln .centr .seznamzpravodaj .zpravodaj .popis {
	padding-top: 1px;
	padding-right: 7px;
	padding-bottom: 1px;
	padding-left: 7px;
	margin-right: 10px;
	font-size: 100%;
}

#obsah .napln .centr .seznamzpravodaj .zpravodaj .popis a {
	color: #333333;
	text-decoration:none;
	
}
#obsah .napln .centr .seznamzpravodaj .zpravodaj .popis a:hover {
	color: #FF3300;
	text-decoration:none;
}

#obsah .napln .centr .seznamzpravodaj .zpravodaj .popisSelect
{
    background-color: #DDDDDD;
    width: 600px;
    margin-left: 80px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#obsah .napln .centr .seznamzpravodaj .zpravodaj .popisSelect a {
	color: #FF3300;
	text-decoration:none;
	
}

.hiddenPrvek {
    display:none;
}

.visible {
    display: inline;
}
